#=====================================================
#   ====                GENERAL                      ====
#      =====================================================
ENV_NAME = "development"
APP_DEBUG = "true"

#=====================================================
#   ====                DATABASE                     ====
#      =====================================================
DB_DSN = "mysql:dbname=tweetworks; host=127.0.0.1; charset=utf8"
DB_USER = ""
DB_PASSWORD = ""

ADMIN_PASSWORD = ""