* {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

header {
    background-color: #ffa014;
}

.logo {
    color: #ffa014;
    font-family: "Ubuntu", sans-serif;
}

.container {
    width: 90%;
    margin: auto;
}

header {
    height: 5%;
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.header-logo-container {
    width: 20%;
    height: 100%;
    text-align: left;
    vertical-align: middle;
}

.logo-header {
    height: 100%;
    color: white;

}



.logo-top {
    font-size: 100pt;
}